<ion-menu contentId="main-content">
  <ion-header>
    <ion-title>Trevo</ion-title>
  </ion-header>
  <ion-content class="ion-padding"></ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="none">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>

    <span class="titulo-pagina">Dados do Chamado</span>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="titulo-chamado" color="none" lines="none">
            <ion-input label="Titulo" label-placement="floating" [(ngModel)]="chamado.tituloChamado"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="descricao" color="none" lines="none">
            <ion-input label="Descrição" label-placement="floating" [(ngModel)]="chamado.descricaoProblema"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="prioridade" color="none" lines="none">
            <ion-select label="Prioridade" label-placement="floating" [(ngModel)]="chamado.prioridade">
              <ion-select-option value="BAIXA">Baixa</ion-select-option>
              <ion-select-option value="MEDIA">Média</ion-select-option>
              <ion-select-option value="ALTA">Alta</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="localizacao" color="none" lines="">
            <span>Localização</span>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="long" color="none" lines="none">
            <ion-input label="Longitude" label-placement="floating" placeholder="" [(ngModel)]="chamado.lat"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="lati">
            <ion-input label="Latitude" label-placement="floating" placeholder="" [(ngModel)]="chamado.lng"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button class="enviarChamado" color="none" (click)="submitForm()">Enviar chamado</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer>
    <ion-button fill="clear" color="light" class="saiba-mais">Saiba mais</ion-button>
  </ion-footer>
</div>
