
ion-header {
  position: absolute;
  background: #2A908F;
  border-radius: 0 0 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-content {
  --padding-top: 100px;
  --padding-bottom: 100px;
}

ion-card {
  border-radius: 14px;
  top: 200px;
  background-color: #e7e5e5;
  height: 15vh;
  padding: 5px;

}

ion-footer {
  position: absolute;
  background: #2A908F;
  bottom: 0px;
  height: 10vh;
  width: 100vw;
  border-radius: 20px 20px 0 0;
}

ion-menu-button {
  position: relative;
}

.titulo-chamado,
.descricao,
.prioridade,
.lati,
.long {
  box-shadow: 4px 2px 3px rgb(124, 124, 124);
  border-radius: 50px;
  font-size: 10pt;
  color: rgba(17, 17, 17, 0.849);
}

.titulo-pagina {
  text-align: center;
  font-size: 16px;
  padding-bottom: 10px;
}

.info {
  color: rgb(39, 38, 38);
  font-size: 12px;
  top: 100px;
}

.info1 {
  color: rgb(39, 38, 38);
  font-size: 12px;
}

h2 {
  font-size: 10px;
}

.localizacao {
  color: rgb(0, 0, 0);
  border-radius: 20px 20px 0 0;
  font-size: 14px;
}

.local {
  box-shadow: 4px 2px 3px rgb(124, 124, 124);
  background-color: white;
  border-radius: 50px;
  width: 10em;
  height: 5vh;
  padding: 1px;
  margin: 0px;
  top: 261px;
  left: 6px;
  font-size: 12px;
  color: rgba(17, 17, 17, 0.849);
}

.enviarChamado {
  border-radius: 5px;
  font-size: 10px;
  background: #f8641f;
  width: 100%;
}

.saiba-mais {
  padding-top: 10px;
}

ion-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
