
.input-label{
    font-size: 10px;
    top: 120px;
    margin: 40px;
    padding: 20px;
    
}

.button{
    border-color: black;
    margin: 20px;
    padding: 10px;
    height: 1vh;
    width: 90vw;
    color: white;
    
}

.email{
    border-radius: 50px;
    margin: 20px;
    
}

.senha{
    border-radius: 90px;
    margin:20px;
   
}

.trevo{
    
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-size: 46px;
    color: rgb(255, 255, 255);
 
}

.img{
    display: flex;
    width: 60px;
    height: 55px;
    position: absolute;
}
