.itens{
    top: 150px;
}

.input-label{
    font-size: 16px;
    top: 120px;
    margin: 40px;
    padding: 20px;
    color: white;
   
}

.button{
    border-color: black;
    margin: 10px;
    padding: 10px;
    height: 1vh;
    width: 90vw;
    color: white;
    
}

.email{
    border-radius: 50px;
    margin: 20px;
    
}

.senha{
    border-radius: 90px;
    margin:20px;
   
}

.trevo{
    
    margin: 2px;
    padding: 0px;
    text-align: center;
    font-size: 56px;
    color: rgb(255, 255, 255);
    font-family:cursive;  
 
}

.img{
    display: flex;
    width: 70px;
    height: 65px;
    position: absolute;
}

