<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Trevo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"></ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="none">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-button color="secondary" (click)="insertChamado()">Adicionar chamado</ion-button>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card *ngFor="let chamado of chamadoList; let index = index">
      <div class="card-content">
        <div class="card-info">
          <span class="titulo-chamado">{{ chamado.tituloChamado }}</span>
          <span class="status-chamado">{{ chamado.statusChamado }}</span>
        </div>
        <div class="card-actions">
          <ion-button fill="clear" size="small" (click)="openChamadoDetail($event, chamado)">
            <ion-icon name="create"/>
          </ion-button>

          <ion-button fill="clear" size="small" (click)="deleteChamado(chamado)">
            <ion-icon name="trash" color="danger" />
          </ion-button>
        </div>
      </div>
    </ion-card>

    <ion-toast
      [isOpen]="isToastOpen"
      message="Não foi possível listar os chamados"
      color="danger"
      class="ion-text-center"
      [duration]="5000"
      (didDismiss)="openToast(false)"
    ></ion-toast>
  </ion-content>

  <ion-footer>
    <ion-button fill="clear" color="light" class="saiba-mais">Saiba mais</ion-button>
  </ion-footer>
</div>
