<ion-header [translucent]="true">
  <ion-button>Adicionar ao chamado!</ion-button>
</ion-header>
<ion-footer>
  <ion-button class="button1">Saiba mais!</ion-button>
</ion-footer>



<ion-content>

  <ion-row>
    <ion-col>
      
    </ion-col>
  </ion-row>


  <ion-grid>  
    <ion-row>
      <ion-col>
        <ion-card>
          <span class="info">Error Servidor!</span>
          <h2>Pendente</h2>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <span class="info1">Error Servidor!</span>
          <h2>Resolvido</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>



















