ion-card{
    border-radius: 14px;
    top: 200px;
    background-color: #e7e5e5;
    height: 15vh;   
    padding: 5px;
    box-shadow: 10px 5px 5px rgb(172, 172, 172);
    
}
ion-footer{
    position: absolute;
    background: #2A908F;
    bottom: 0px;
    height: 10vh;
    border-radius: 20px 20px 0 0;
}

ion-button{
    background-color: #E18529;
}

.toolbar2{
    background: #2A908F;
    border-radius: 0 0 20px 20px;
    height: 15vh;
}



.add{
    position: absolute;
    color: black;
    border-radius: 30px;
    top:50px;
    
}


.info{
    color: rgb(39, 38, 38);
    font-size: 12px;
    top: 100px;
}

.info1{
    color: rgb(39, 38, 38);
    font-size: 12px;
}

h2{
    font-size: 10px;
}


.saibaMais{
    border-radius: 90px;
    position: absolute;
    color: rgb(0, 0, 0);
    top: 10px;
    left: 90px;
    height:1vh;
    width: 40vw;
    font-size: 12px;
}

